

<div class="wrapper">
    <nav id="navbar" class="">
    <div class="nav-wrapper">
        <!-- Navbar Logo -->
        <div class="logo">
        <!-- Logo Placeholder for Inlustration -->
        <a href="#home">Logo</a>
        </div>

        <!-- Navbar Links -->
        <ul id="menu">
        <li><a href="#home">Home</a></li><!--
    --><li><a routerLink="dashboard">Dashboard</a></li><!--
    --><li><a routerLink="profile">Profile</a></li><!--
    --><li><a href="#contact">Messages</a></li>
        </ul>
    </div>
    </nav>


    <!-- Menu Icon -->
    <div class="menuIcon" [class.toggle]="isWindowSmall" (click)="isWindowSmall = !isWindowSmall">
    <span class="icon icon-bars"></span>
    <span class="icon icon-bars overlay"></span>
    </div>


    <div class="overlay-menu" [class.hidden]="!isWindowSmall">
    <ul id="menu">
        <li><a href="#home">Home</a></li>
        <li><a href="#Dashboard">Dashboard</a></li>
        <li><a href="#about">Profile</a></li>
        <li><a href="#contact">Messages</a></li>
        </ul>
    </div>   
</div>